*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
    background: #fff;
    color: #fff;
    background-color: #232925;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
  
}
.body1{
  background: #fff;
  color: #fff;
background: yellow;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;

}
.espacioscroll{
  width: 100%;
  height: 700px;
}
a{
    color: #fff;
    text-decoration: none;
}
ul{
    list-style: none;
}
.contenedor{
  margin-top: 20px;
  margin-left: 20px;
  background:rgb(0, 0, 0);
  height: 60px;
  
}
/*Barra lateral principal*/
nav{
    background:rgb(0, 0, 0, .5);
    
    font-size: 17px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    transition: all 0.5s ease;
    width: 97%;
    z-index: 1;
}
nav .active{
    background: #fff;  
}
/*Anchor del logo, que espacio ocupa */
.barra-logo{
    width: 30px;
    margin: 0px 40px;
}
/*Como iran distribuidas las listas en la barra lateral*/
nav ul{
    list-style: none;
    display: inline-flex;
    margin: 20px;
}
.barra-listas > li{
    display: block;
    padding: 60px;
    z-index: 1;
}
.barra-listas > li > a{
    display: block;
    color: #fff;
   
}
/*:hover para colocar una raya cada vez que se pase por un elemento LI de la barra lateral*/
nav ul li a:hover{
         border-bottom: 2px solid #ffff;
                 /*altura,que es un linea visible,color de la linea*/                          
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width:15%;
    background-color: rgb(0, 0, 0, .5);
}
.barra-listas li:hover .menu-vertical{
    display:inline-block;
    
}
.menu-vertical li:hover{
    background-color: rgb(0, 0, 0, .5);
}
.menu-vertical li a{
    display: inline-block;
    color: #fff ;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.menu-vertical2{
    position: absolute;
    display: none;
    list-style: none;
    width: 15%;
    background-color: rgb(0, 0, 0, .5);
}
.barra-listas li:hover .menu-vertical2{
    display: block;
}
.menu-vertical2 li:hover{
    background-color: #000;
}
.menu-vertical2 li a{
    display: block;
    color: #fff ;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/*Edicion boton menu para dispositivo android*/
.boton-menu{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.2rem;
    display: none;
}

/*Imagen  principal de la pagina*/


.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #fff;
    color: #000;
    font-size: 15px;
    border:1px solid #fff;
    margin:10px 0;
    border-radius: 15px;
}

.flecha{

   
  scroll-margin-top: 50px;
  
  
}
.flecha>a{
  width: 30px;
  height: 30px;
  background-color: #f80000;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  border-radius: 180px;
  right: 0;
  font-size: 40px;
  text-align: center;
  line-height: 20px;
}


/*contactos global*/
.banner-contacto{
    width: 20%;
    height: 590px;
    background: linear-gradient(yellow,rgb(184, 184, 52),rgb(109, 92, 37),rgb(85, 58, 40),rgb(85, 54, 54));
    margin: 20px ;
    color:#000;;
    border-radius: 15px;
}
.banner-contacto .content-banner{
    display: inline;
    margin: 10px 0px;
    text-align: center;
    justify-content: flex-end;
}
.banner-contacto a{
    display: inline-block;
    margin: 20px 50px;
}
.fotos2{
    justify-content: center;
    display: flex;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    
}
.fotos2 .fondo{
    margin: 10px 0px;
        width: 30%;
        height: auto;
        
        display: inline;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        -moz-border-radius:15px;
        -webkit-border-radius:15px;
    }

.fotos2 img{
    width: 100%;
    height: 250px;
}
.fotos2 h2{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding: 20px 10px;
    align-items: center;
    margin: 0px 30px;
}
.fotos2 .btn-servicios a{
    margin: 10px 50px;
align-items: center;
justify-content: center;
}


/*Seccion de redes sociales global*/
.social{
   
    width: auto;
    
}
.social .links{
    display: flex;
    justify-content: center;
 
}
.social p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
.social a{
   
   display: flex;
   padding: 15px;
   
}
.social .links a i{
    font-size: 2rem;
 
}

.footer{
    display: block;
    align-items: center;
    justify-content: center;
    width:auto;
    background-color: rgba(0, 0, 0);
    font-size: 13px;
    padding: 6px 0;
    text-align: center;
    padding-bottom: 13px;
}
.footer .linksimportantes{
    display: flex;
}
.footer .linksimportantes .Contacto{
    color: #000;
    margin: 20px;
    background: linear-gradient(yellow,rgb(184, 184, 52),rgb(109, 92, 37),rgb(85, 58, 40),rgb(85, 54, 54));
    border-radius: 15px;
    display: inline-block;
    width: 20%;    
}


.footer .linksimportantes .Atencionacliente{
    width: 35%;
}
.footer .linksimportantes .Atencionacliente li{
    padding: 15px ;
}
.footer .linksimportantes .SobreNosotros{
    width: 35%;
}
.footer .linksimportantes .SobreNosotros li{
    padding: 15px;
}
.footer .linksimportantes .Tienda{
    width: 35%;
}
.footer .linksimportantes .Tienda li{
    padding: 15px;
}

.img-principalP{
  width: 100%;
  height: 800px;
  padding: 50px ;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background: url(/Imagenes//FotosVidPortafolio/PortafolioPortada.png) no-repeat center center/cover;
  background-size: cover;

}
/*Styles portafolio*/
.principalp{
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.principalp1{
  position: relative;
  width: 82%;
  overflow: scroll;
  height: 700px;
}
.barralateral{
  width: 250px;
}

.foto{
    justify-content: center;
    text-align: center;
    font-size: 30px;
}
.foto1{
  background-color: yellow;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #000;
 
}

img{
    
    border-radius: 15px;
}
.Gallerya{
  justify-content: center;
    display: flex;  
    margin: 30px 10px;
    padding: 30px;
flex-wrap: wrap;
    
}
.gallery{
 width: 300px;
 height: 300px;
 margin: 35px;
}
.galleryfondo{
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 10px;
}
.fondoprc{
  
}

.banner-volqueta{
    width: 100%;
    height: 700px;
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;

}
.banner-volqueta .contenido-banner{
    background:rgb(255, 230, 0);
    text-align: center;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
    color: #000;
}
.banner-volqueta .contenido-banner>article>p{
background-color: rgb(187, 202, 192, .5);
border-radius: 15px;
}
.banner-volqueta .contenido-banner main{
    width: 100%;
    color: #fff;
}
.sc{
    background: #f80000;
    text-align: center;
}
.slide{
    background: #232925;
    width: 100%;
    height: 100px;
}

/*Botones*/

.btn-banner {
    /* color de fondo */
   color: #4741d7; /* color de fuente */
   border: 2px solid #fff; /* tamaño y color de borde */
   padding: 16px 19px;
   border-radius: 13px; /* redondear bordes */
   position: relative;
   z-index: 1;
   overflow: hidden;
   display: inline-block;
   margin: 28px;
 }
 .btn-banner:hover {
   color: #fff;/* color de fuente hover */
 }
 .btn-banner::after {
   content: "";
   background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple); /* color de fondo hover */
   position: absolute;
   z-index: -1;
   padding: 16px 10px;
   display: block;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   transform: scale(0, 0);
   transition: all 0.3s ease;
 }
 .btn-banner:hover::after {
   transition: all 0.3s ease-out;
   transform: scale(1, 1);
 }
 .btn-banner1 {
    /* color de fondo */
   color: #4741d7; /* color de fuente */
   border: 2px solid #fff; /* tamaño y color de borde */
   padding: 16px 19px;
   border-radius: 13px; /* redondear bordes */
   position: relative;
   z-index: 1;
   overflow: hidden;
   display: inline-block;
   margin: 28px;
 }
 .btn-banner1:hover {
   color: #fff;/* color de fuente hover */
 }
 .btn-banner1::after {
   content: "";
   background: #f80000; /* color de fondo hover */
   position: absolute;
   z-index: -1;
   padding: 16px 10px;
   display: block;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   transform: scale(0, 0);
   transition: all 0.3s ease;
 }
 .btn-banner1:hover::after {
   transition: all 0.3s ease-out;
   transform: scale(1, 1);
 }
 .btn-banner2 {
    /* color de fondo */
   color: #4741d7; /* color de fuente */
   border: 2px solid #fff; /* tamaño y color de borde */
   padding: 16px 19px;
   border-radius: 13px; /* redondear bordes */
   position: relative;
   z-index: 1;
   overflow: hidden;
   display: inline-block;
   margin: 28px;
 }
 .btn-banner2:hover {
   color: #fff;/* color de fuente hover */
 }
 .btn-banner2::after {
   content: "";
   background: rgb(4, 8, 255); /* color de fondo hover */
   position: absolute;
   z-index: -1;
   padding: 16px 10px;
   display: block;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   transform: scale(0, 0);
   transition: all 0.3s ease;
 }
 .btn-banner2:hover::after {
   transition: all 0.3s ease-out;
   transform: scale(1, 1);
 }
 .btn-banner3 {
    /* color de fondo */
   color: #4741d7; /* color de fuente */
   border: 2px solid #fff; /* tamaño y color de borde */
   padding: 16px 19px;
   border-radius: 13px; /* redondear bordes */
   position: relative;
   z-index: 1;
   overflow: hidden;
   display: inline-block;
   margin: 28px;
 }
 .btn-banner3:hover {
   color: #fff;/* color de fuente hover */
 }
 .btn-banner3::after {
   content: "";
   background: #00f80c; /* color de fondo hover */
   position: absolute;
   z-index: -1;
   padding: 16px 10px;
   display: block;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   transform: scale(0, 0);
   transition: all 0.3s ease;
 }
 .btn-banner3:hover::after {
   transition: all 0.3s ease-out;
   transform: scale(1, 1);
 }

.btn-s {
    /* color de fondo */
   color: #4741d7; /* color de fuente */
   border: 2px solid #fff; /* tamaño y color de borde */
   padding: 16px 19px;
   border-radius: 13px; /* redondear bordes */
   position: relative;
   z-index: 1;
   overflow: hidden;
   display: inline-block;
   margin: 28px;
 }
 .btn-s:hover {
   color: #fff;/* color de fuente hover */
 }
 .btn-s::after {
   content: "";
   background: #f80000; /* color de fondo hover */
   position: absolute;
   z-index: -1;
   padding: 16px 10px;
   display: block;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   transform: scale(0, 0);
   transition: all 0.3s ease;
 }
 .btn-s:hover::after {
   transition: all 0.3s ease-out;
   transform: scale(1, 1);
 }

 .btn-sS {
   /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #fff; /* tamaño y color de borde */
  padding: 16px 19px;
  border-radius: 13px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin: 100%;
}
.btn-sS:hover {
  color: #fff;/* color de fuente hover */
}
.btn-sS::after {
  content: "";
  position: absolute;
  background: red; /* color de fondo hover */
  z-index: -1;
  padding: 16px 10px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 1s ease;
}
.btn-sS:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}
.btn-s2S {
   /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #fff; /* tamaño y color de borde */
  padding: 16px 9px;
  border-radius: 13px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin: 28px;
}
.btn-s2S:hover {
  color: #fff;/* color de fuente hover */
}
.btn-s2S::after {
  content: "";
  background: #f80000; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 10px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
.btn-s2S:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}

 .btn-s23 {
   /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #fff; /* tamaño y color de borde */
  padding: 16px 10px;
  border-radius: 13px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin: 10px 8px;
}
.btn-s23:hover {
  color: #fff;/* color de fuente hover */
}
.btn-s23::after {
  content: "";
  background: url(/Imagenes/LogosIndexyServicios/TRACTOMULA-logo.png); /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 10px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
.btn-s23:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}
 .btn-s2 {
   /* color de fondo */
   width: 90%;
  color: #4741d7; /* color de fuente */
  border: 2px solid #fff; /* tamaño y color de borde */
  padding: 16px 30px;
  border-radius: 13px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin: 10px 50px;
}
.btn-s2:hover {
  color: #fff;/* color de fuente hover */
}
.btn-s2::after {
  content: "";
  background: #ff0000; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 10px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
.btn-s2:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}

.btn-s3 {
   /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #fff; /* tamaño y color de borde */
  padding: 16px 10px;
  border-radius: 13px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin: 0px 20px;
  width: 90%;
  align-items: center;
  justify-content: center;
}
.btn-s3:hover {
  color: #fff;/* color de fuente hover */
}
.btn-s3::after {
  content: "";
  background: #ff0000; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
.btn-s3:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}

img  {
    width: 100%;
    height: auto;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
 }
 
 .transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
 }
 .fondo  {
    width: 100%;
    height: auto;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
 }.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.1);
 }

.btn-sSs {
    /* color de fondo */
   color: #4741d7; /* color de fuente */
   border: 2px solid #fff; /* tamaño y color de borde */
   padding: 16px 19px;
   border-radius: 13px; /* redondear bordes */
   position: relative;
   z-index: 1;
   overflow: hidden;
   display: inline-block;
   margin: 10px 100px;
 }
 .btn-sSs:hover {
   color: #fff;/* color de fuente hover */
 }
 .btn-sSs::after {
   content: "";
   position: absolute;
   background: red; /* color de fondo hover */
   z-index: -1;
   padding: 16px 10px;
   display: block;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   transform: scale(0, 0);
   transition: all 1s ease;
 }
 .btn-sSs:hover::after {
   transition: all 0.3s ease-out;
   transform: scale(1, 1);
 }
 /*media querys*/
 @media screen and (min-width: 270px) and (max-width: 290px) {
  .gallery:first-of-type{
    grid-column: 1 / span 2;
  
}
  .Gallerya{
    grid-auto-rows: 283px;
    margin: 50px;
  }
 }
 .barralateral{

	width: 300px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	transition: all 500ms ease;
	
	
}
.titulobarralateral{
	display: flex;
	justify-content: space-between;
  background-color: yellow;
}
.titulobarralateral>section>h1{
  background-color: #f8000091;
  border-radius: 15px;
	
}


.control1{
background-color: rgb(255, 255, 0);
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
cursor: pointer;
transition: all 500ms ease;

}
.listalateral{
	list-style: none;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.listalateral-click{
	cursor: pointer;
}

.link{
	color: #303440;
	display: block;
	padding: 15px 0;
	text-decoration: none;

}
.list_inside{
	border-radius: 6px;
	padding-left: 10px;
}
.list_inside:hover{
	background: #f6f8fa;

}
.show_lista{
 
	width: 80%;
	margin-left: auto;
	border-left: 2px solid #303440;
	list-style: none;
	transition: height .4s;
	height: 0;
}

.boton_lista{
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 70%;
	margin: 0 auto;
}
.arrow .arrow_lista{
  
	transform: rotate(90deg);
	}
.arrow_lista{
	margin-left: auto;
	transition: transform .3s;
}


.icon-cards {
  position: relative;
	width: 60vw;
	height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
	perspective: 1000px;
  transform-origin: center;

	

}